#featured img {
  height: 100%;
  object-fit: cover;
}

#featured .card {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

#featured .card::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 50%;
  background: linear-gradient(180deg, transparent 0%, #020617 100%);
}

#featured figcaption {
  position: absolute;
  bottom: 0;

  padding: 24px;
}

#featured figcaption:has(.text-lg) {
  padding: 12px;
}

#featured figcaption h2 {
  margin-top: 8px;
}
